// Variables
$border: 2px solid rgba(31, 31, 30, 0.945);
//

// Classes
.app-container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  .app {
    background-color: rgb(26, 26, 27);
    border: $border;
    border-radius: 16px;
    color:rgb(215, 218, 220);
    height: 95%;
    width: 90%;
    display: flex;
    .contact-side{
      border: $border;
      flex:1;
    }
    .chat-side{
      border: $border;
      flex: 2.5;
    }
  }
  .app-small-screen{
    height: 100%;
    width: 100%;
  }
  .app-large-screen{
    height: 95%;
    width: 1080px;
  }
}

